{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="row col-10 mx-auto mt-5">
        <div class="col-3">
            <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">修改實體主機</a>
                <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">修改虛擬主機</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">修改服務項目</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">修改網站的主機</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <!--修改實體主機-->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="alert alert-primary" role="alert">
                        <h5 >修改已新增的"實體主機名稱"與"IP位置"。</h5>
                        <h6  class="m-0">ps.修改虛擬機請使用"修改虛擬主機"功能</h6>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 mx-auto mt-3">
                            <form method="POST">
                                <dl>
                                    {{ wtf.form_field(form_modifyserver.ModifyServer0) }} 
                                </dl>
                                
                            </form>
                            <!-- <div id="exportidc" >
                                {{ wtf.form_field(form_modifyserver.Modifyidc0) }} 
                            </div> -->
                            
                            <div id="exportserver" ></div>
                        </div>
                    </div>
                </div>
                <!--修改虛擬主機-->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="alert alert-primary" role="alert">
                        <h5 class="m-0">從已建立的實體主機上修改 "虛擬主機名稱"和"IP位置" </h5>
                    </div>
                    <div class="alert alert-warning " role="alert">
                        <h6 class="m-0">請不要在此修改實體主機，當實體主機名稱無法對應時會造成錯誤。</h6>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-auto mt-3">
                            <form method="POST">
                                <dl>
                                    {{ wtf.form_field(form_modifyvserver.ModifyServer1) }} 
                                    {{ wtf.form_field(form_modifyvserver.ModifyVServer1) }} 
                                    {{ wtf.form_field(form_modifyvserver.ModifyIPaddress1) }} 
                                </dl>
                                
                            </form>
                            <div id="exportvserver" ></div>
                        </div>
                    </div>
                </div>
                <!--修改服務項目-->
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="alert alert-primary" role="alert">
                        <h5 class="m-0">修改已有 "服務名稱"</h5>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-auto mt-3">
                            <form method="POST">
                                <dl>
                                    {{ wtf.form_field(form_modifyservice.ModifyServer2) }} 
                                    {{ wtf.form_field(form_modifyservice.ModifyVServer2) }}
                                    {{ wtf.form_field(form_modifyservice.ModifyService2) }}
                                </dl>
                            </form>
                            <div id="exportservice" ></div>
                        </div>
                    </div>
                </div>
                <!--修改網站的主機-->
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="alert alert-primary" role="alert">
                            <h5 class="m-0">修改網站名稱與備註</h5>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <h6 class="m-0">如需要更改"網站類型"或"服務"，請刪除並重新建立</h6>
                        </div>
                    <div class="row">
                            <div class="col-12 mx-auto mt-3">
                                <form method="POST">
                                    <dl>
                                        {{ wtf.form_field(form_modifyweb.ModifyWeb3) }} 
                                    </dl>
                                </form>
                                <div id="exportweb" ></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block sub_scripts %}
<!-- <script src="{{ url_for('static',filename='jquery-3.3.1.slim.min.js') }}"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> 
<script src="{{ url_for('static',filename='popper.min.js') }}"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
    <!-- <script src="{{ url_for('static',filename='jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery-ui.js') }}"></script> -->
    <script src="{{ url_for('static',filename='edit_modifypage.js') }}"></script>
{% endblock %}