{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="row">
    <div class="col-11 mx-auto">
        <span id="showtime"></span>
        <button id="reflashbtn" class="btn btn-secondary col-2 float-right" onclick="listbtn()"
            style="display:inline">Reflash</button>
    </div>
</div>
<!--navs start-->
<div class="col-12 mx-auto mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active border-bottom  " id="status-tab" data-toggle="tab" href="#status" role="tab"
                aria-controls="status" aria-selected="false"> 總體狀態 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  border-bottom  " id="mem-tab" data-toggle="tab" href="#mem" role="tab"
                aria-controls="mem" aria-selected="false"> 記憶體 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  border-bottom " id="harddisk-tab" data-toggle="tab" href="#harddisk" role="tab"
                aria-controls="harddisk" aria-selected="true"> 儲存硬碟 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  border-bottom " id="network-tab" data-toggle="tab" href="#network" role="tab"
                aria-controls="network" aria-selected="true"> 網路介面 </a>
        </li>
    </ul>
</div>


<div class="tab-content col-12 mx-auto" id="myTabContent">
    <!--Status-->
    <div class="tab-pane show fade active" id="status" role="tabpanel" aria-labelledby="status-tab">
        <div id="accordion-status" class="mt-3 row">
            <div class="col-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link mx-3 float-right" data-toggle="modal"
                    data-target="#exampleModalCenter2">
                    說明&nbsp;<i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div id="statusconn" class="mx-auto px-0 mt-3 col-11">正在讀取資料中...</div>
        </div>
    </div>
    <!--MEM-->
    <div class="tab-pane fade show" id="mem" role="tabpanel" aria-labelledby="mem-tab">
        <div id="accordion-mem" class="mt-3 row">
            <div class="col-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link mx-3 float-right" data-toggle="modal"
                    data-target="#exampleModalCenter3">
                    說明&nbsp;<i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div id="memconn" class="mx-auto px-0 mt-3 col-11">正在讀取資料中...</div>
        </div>
    </div>
    <!--Disk-->
    <div class="tab-pane fade show" id="harddisk" role="tabpanel" aria-labelledby="harddisk-tab">
        <div id="accordion-harddisk" class="mt-3 row">
            <div class="col-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link mx-3 float-right" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    說明&nbsp;<i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div id="diskconn" class="mx-auto px-0 mt-3 col-11">正在讀取資料中...</div>
        </div>
    </div>
    <!--NET-->
    <div class="tab-pane fade show" id="network" role="tabpanel" aria-labelledby="mem-tab">
        <div id="accordion-network" class="mt-3 row">
            <div class="col-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link mx-3 float-right" data-toggle="modal"
                    data-target="#exampleModalCenter4">
                    說明&nbsp;<i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div id="networkconn" class="mx-auto px-0 mt-3 col-11">正在讀取資料中...</div>
        </div>
    </div>
</div>



<!--Status Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle2">總體狀態</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Status</h3>
                <h6>The current status of the memory device mapped as</h6>
                <hr>
                <p><span class="badge badge-secondary" style="width: 20px; height: 20px; display: inline-block;"></span>
                    Other 其他</p>
                <p><span class="badge badge-danger" style="width: 20px; height: 20px; display: inline-block;"></span>
                    Unknown 未知</p>
                <p><span class="badge badge-success" style="width: 20px; height: 20px; display: inline-block;"></span>
                    ok 正常</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #a862b3;"></span>
                    nonCritical 非關鍵</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #60176b;"></span>
                    Critical 關鍵 </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #f2bb1e;"></span>
                    nonRecoverable 不可恢復 </p>
                <!-- <a
                    href="https://documentation.solarwindsmsp.com/N-central/documentation/Content/Services/Dell_iDRAC/Services_MemoryStatusDelliDRAC.htm">
                    Dell官方文件</a> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Memory Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle3">Memory</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Status</h3>
                <h6>The current status of the memory device mapped as</h6>
                <hr>
                <p><span class="badge badge-secondary" style="width: 20px; height: 20px; display: inline-block;"></span>
                    Other 其他</p>
                <p><span class="badge badge-danger" style="width: 20px; height: 20px; display: inline-block;"></span>
                    Unknown 未知</p>
                <p><span class="badge badge-success" style="width: 20px; height: 20px; display: inline-block;"></span>
                    ok 正常</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #a862b3;"></span>
                    nonCritical 非關鍵</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #60176b;"></span>
                    Critical 關鍵 </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #f2bb1e;"></span>
                    nonRecoverable 不可恢復 </p>
                <a target="_blank"
                    href="https://documentation.solarwindsmsp.com/N-central/documentation/Content/Services/Dell_iDRAC/Services_MemoryStatusDelliDRAC.htm">
                    Dell官方文件</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Disk Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">Physical Drive</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>State</h3>
                <h6>The current state of the physical disk being monitored mapped as</h6>
                <hr>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff; background-color: #1d5486;">
                    </span> unkown 未知</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #212529;background-color: #ffe207;">
                    </span> ready 就緒</p>
                <p><span class="badge badge-success" style="width: 20px; height: 20px; display: inline-block;">
                    </span>
                    online 聯機
                </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #60176b;">
                    </span> foreign 外來</p>
                <p><span class="badge badge-secondary" style="width: 20px; height: 20px; display: inline-block;">
                    </span> offline
                    拖機</p>
                <p><span class="badge badge-primary" style="width: 20px; height: 20px; display: inline-block;">
                    </span>
                    blocked
                    已阻塞</p>
                <p><span class="badge badge-danger" style="width: 20px; height: 20px; display: inline-block;">
                    </span>
                    failed 失敗
                </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #a862b3;">
                    </span> nonraid 非RAID </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #f2bb1e;">
                    </span> removed 已移除</p>
                <p><span class="badge badge-info" style="width: 20px; height: 20px; display: inline-block;"> </span>
                    readonly
                </p>
                <a target="_blank"
                    href="https://documentation.solarwindsmsp.com/N-central/documentation/Content/Services/Dell_iDRAC/Services_PhysicalDriveDelliDRAC.htm">
                    Dell官方文件</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Network Modal -->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle4"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle4">Network Card</h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Connection Status</h3>
                <h6>The current connection status of the network device mapped as</h6>
                <hr>
                <p><span class="badge badge-success" style="width: 20px; height: 20px; display: inline-block;"></span>
                    connected 連接</p>
                <p><span class="badge badge-danger" style="width: 20px; height: 20px; display: inline-block;"></span>
                    disconnected 無連接</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #f2bb1e;"></span>
                    driverBad 設備損壞</p>
                <p><span class="badge badge-secondary" style="width: 20px; height: 20px; display: inline-block;"></span>
                    driverDisabled 設備無開啟</p>
                <p><span class="badge badge-primary"
                        style="width: 20px; height: 20px; display: inline-block;"></span></span>
                    hardwareInitalizing 硬體初始化 </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff; background-color: #1d5486;">
                    </span>
                    hardwareResetting 硬體重設</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #a862b3;"></span></span>
                    hardwareClosing 硬體關閉</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #60176b;"></span>
                    hardwareNotReady 硬體未就緒</p>
                <br>
                <h3>Status</h3>
                <h6>The current status of the network device mapped as</h6>
                <hr>
                <p><span class="badge badge-secondary" style="width: 20px; height: 20px; display: inline-block;"></span>
                    Other 其他</p>
                <p><span class="badge badge-danger" style="width: 20px; height: 20px; display: inline-block;"></span>
                    Unknown 未知</p>
                <p><span class="badge badge-success" style="width: 20px; height: 20px; display: inline-block;"></span>
                    ok 正常</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #a862b3;"></span>
                    nonCritical 非關鍵</p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #60176b;"></span>
                    Critical 關鍵 </p>
                <p><span class="badge"
                        style="width: 20px; height: 20px; display: inline-block; color: #fff;background-color: #f2bb1e;"></span>
                    nonRecoverable 不可恢復 </p>
                <br>
                <a target="_blank"
                    href="https://documentation.solarwindsmsp.com/N-central/documentation/Content/Services/Dell_iDRAC/Services_NetworkCardDelliDRAC.htm">
                    Dell官方文件</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sub_scripts %}
<!-- <script src="{{ url_for('static',filename='jquery-3.3.1.slim.min.js') }}"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='popper.min.js') }}"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
<!-- <script src="{{ url_for('static',filename='jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-ui.js') }}"></script> -->
<script src="{{ url_for('static',filename='idrac.js') }}"></script>
{% endblock %}