{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="col-11 mx-auto mt-3">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active row" id="pageone" role="tabpanel" aria-labelledby="pageone-tab">
            
            <!-- <div class="float-sm-left mt-3 px-0 col-12 row">
                <div class="card float-sm-left mt-1 p-0 col-12">
                    <div class="card-body p-0">
                        <div id="cardcontect">正在讀取資料中...</div>
                    </div>
                </div>

            </div> -->
            <div id="cardcontect">正在讀取資料中...</div>
            <div class="mx-auto mt-3 col-12">
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">狀態說明</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><span class="badge badge-success"
                                        style="width: 20px; height: 20px; display: inline-block;">
                                    </span> running</p>
                                <p><span class="badge"
                                        style="width: 20px; height: 20px; display: inline-block; background-color: #ff8a00;">
                                    </span> failed</p>
                                <p><span class="badge badge-success"
                                        style="width: 20px; height: 20px; display: inline-block; background-color: #dbdbdb;">
                                    </span> 未使用</p>
                                <p><span class="badge"
                                        style="width: 20px; height: 20px; display: inline-block; background-color: #f00;">
                                    </span> 其他未知狀態</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block sub_scripts %}
<!-- <script src="{{ url_for('static',filename='jquery-3.3.1.slim.min.js') }}"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='popper.min.js') }}"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
<!-- <script src="{{ url_for('static',filename='jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-ui.js') }}"></script> -->
<script src="{{ url_for('static',filename='service3.js') }}"></script>
{% endblock %}